.footer {

	display: block;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
    padding-top: 3rem;
    padding-bottom: 3rem;
	position: absolute;
    width: 100%;
    bottom: 0;
}

.jumbotron {
	background: url(/assets/images/bj2.jpg);
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: cover;
}

.float-xs-right {
    float: right !important;
}

#backGround {
	background-image: url(/assets/images/bj.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#jumbHead {
	color : #000000;
}

.list-group {
	margin-bottom: -350%;
}

.img-responsive {
	max-width: 60%;
    height: auto;
}

#lg1-1 {
    position: relative;
    z-index: 1;
}

#lg1-2 {
    position: relative;
    z-index: 2;
    top: -7em;
}

#lg1-3 {
    position: relative;
    top: -14em;
    z-index: 3;
}

#lg1-4 {
    position: relative;
    top: -21em;
    z-index: 4;
}

#lg1-5 {
    position: relative;
    top: -28em;
    z-index: 5;
}

#lg1-6 {
    position: relative;
    top: -35em;
    z-index: 6;
}

#lg1-7 {
    position: relative;
    top: -42em;
    z-index: 7;
}

#lg1-8 {
    position: relative;
    top: -49em;
    z-index: 8;
}
