@(message: String)

@main("Welcome to Blackjack") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/index.css")' />

	<div class = "container">
		<section class="jumbotron">
			<p>  Spiele Blackjack mit <a href="/start">Play Framework && Polymer</a> </p>
			
			<p>  Spiele Blackjack mit <a href="/blackjack.html">Angular.js Framework</a> </p>
		</section>
	</div>
	<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
}

