@* blackjack Template File *@

@main("Spielregeln") {
	<h1 class = "regeln"><u>Spielregeln:</u></h1>
	 <div class = "regeln"> Blackjack ist ein Kartenspiel, bei dem ein Spieler gegen das Haus oder den Dealer spielt. Jeder Spieler erhält Karten mit einem bestimmten Wert. Beispiel: Alle Karten von 2 -10 haben ebendiesen Kartenwert. Eine Herz 5 hat also den Wert 5 und eine Pik 9 hat den Wert 9. Die Spielfarbe der Karte hat absolut keinen Einfluss auf den Kartenwert. Eine Karo 4 und eine Herz 4 haben also beide den Wert 4.
Alle Bildkarten im Deck, also Bube, Dame und König haben jeweils den Wert 10. Das Ass ist etwas besonderes, denn es kann zwei Werte haben: Es kann entweder 11 oder 1 zählen, je nachdem welche Kombination von Karten der Spieler halt. Beispiel: Bekomm ein Spieler ein Ass und eine 9, wird das Ass als 11 gezählt, sodass der Wert beider Karten des Spielers 20 beträgt (11+9). Erhält ein Spieler dagegen eine 3 und ein Ass, kann das Ass auch als 1 zählen und der Spieler dann eine weitere Karte vom Dealer erhalten (hit).
	</div>
}