@(message: String, controller : de.htwg.blackjack.controller.IController)

@main("Welcome to Play") {

	<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>
	<link rel="import" href="@routes.Assets.versioned("bower_components/elements/cards-display.html")">
	<link rel="import" href="@routes.Assets.versioned("bower_components/elements/player-display.html")">
	<link rel="import" href="@routes.Assets.versioned("bower_components/elements/bet-display.html")">
	
	<script src="@routes.Assets.versioned("javascripts/blackjackscript.js")" type="text/javascript"></script>

	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('n')">New Game</button>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default href="" data-toggle="modal" data-target="#addNewPlayer"">Add Player</button>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('h')">Hit</button>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('s')">Stand</button>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<button type="button" class="btn btn-default btn-block "id="bet-field" disabled>Bet </button>
				<button type="button" class="btn btn-default btn-block" id="total-field" disabled>Total</button>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default btn-block" onclick="jsonCommand('-')">- Bet</button>
				<button type="button" class="btn btn-default btn-block" onclick="jsonCommand('+')">+ Bet</button>
				<button type="button" class="btn btn-default btn-block" onclick="jsonCommand('sb')">Set Bet</button>	
			</div>
		</div>
		<p>&nbsp;</p>
		<div class="row">
			<div class="col-md-12">
				<div id="statusline"></div>
		</div>
		
		<p>&nbsp;</p>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<div class="display-name-font">Dealer</div>
				<div class="row">
					<div class="col-md-6 display-font">
						Wert:
					</div>
					<div class="col-md-6">
						<div class="display-font" id="dealer-cardvalue"></div>
					</div>
				</div>		
			</div>
			<div class="col-md-2">
				<cards-display playeridx="dc"></cards-display>
			</div>		
		</div>
		<p>&nbsp;</p>
		<div class="row">
			<div class="col-md-2">		
				<player-display playeridx="0"></player-display>							
			</div>
			<div class="col-md-2">
				<cards-display playeridx="pc0-"></cards-display>
			</div>
			
			<div class="col-md-2">		
				<player-display playeridx="1"></player-display>							
			</div>
			<div class="col-md-2">
				<cards-display playeridx="pc1-"></cards-display>
			</div>
			
			<div class="col-md-2">		
				<player-display playeridx="2"></player-display>							
			</div>
			<div class="col-md-2">
				<cards-display playeridx="pc2-"></cards-display>
			</div>
		</div>
	</div>	
		<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
		
		<!-- Add new Player -->
		<div class="modal fade" id="addNewPlayer" tabindex="-1" role="dialog" 
		     aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <button type="button" class="close" 
		                   data-dismiss="modal">
		                       <span aria-hidden="true">&times;</span>
		                       <span class="sr-only">Close</span>
		                </button>
		                <h4 class="modal-title" id="myModalLabel">
		                    Add new player
		                </h4>
		            </div>
		            
		            <!-- Modal Body -->
		            <div class="modal-body">
		                
		                <form class="form-horizontal" role="form">
		                  <div class="form-group">
		                    <label  class="col-sm-2 control-label"
		                              for="inputname">playername</label>
		                    <div class="col-sm-10">
		                        <input type="text" class="form-control" 
		                        id="inputname"/>
		                    </div>
		                  </div>
		                </form>                
		            </div>
		            
		            <!-- Modal Footer -->
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default"
		                        data-dismiss="modal">
		                            Cancel
		                </button>
		                <button type="button" class="btn btn-primary" onClick="jsonNewPlayer()" data-dismiss="modal">
		                    Add Player
		                </button>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
    
		
}