@(message: String, controller : de.htwg.blackjack.controller.IController)

@main("Welcome to Play") {

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>

	<script language="JavaScript">
		function getCards() {
		$.get('/json',
	    	function(data) {
		    	var json = JSON.parse(data);
	          	var excard = json[1].cards[0][0];
	          	var excardurl = "/assets/images/" + excard + ".png";
	          	window.alert(excardurl);
	          	$('loadImage').src = excardurl;
	      });
		}
	</script>
	
	<script language="JavaScript">
		function jsonCommand(command) {
		$.post('/json/' + command,
	      function(data) {
	          window.alert(data);
				
		      
	      });
		}
	</script>
	
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		  </div>
	
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="/command/n">New</a></li>
		          <li class="divider"></li>
		          <li><a href="/command/q">Quit</a></li>
		        </ul>
		      </li>
	
		      <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="/newPlayer/Testobjekt">Add Player</a></li>
		        </ul>
		      </li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
		
		<div class="row">
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="getCards()">Get Cards</button>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('+')">+ Bet</button>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('-')">- Bet</button>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('sb')">Set Bet</button>
			</div>
			<div class="col-md-1">
			
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('h')">Hit</button>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-default" onclick="jsonCommand('s')">Stand</button>
			</div>
			<div class="col-md-1">
			
			</div>
			<div class="col-md-1">
			
			</div>
			<div class="col-md-1">
			
			</div>
			<div class="col-md-1">
			
			</div>
		</div>
		<p>&nbsp;</p>
		<div class="row">
			<div class="col-md-1">
				<div>Playername</div>
				<div>Karten-Wert</div>
				<div>Budget</div>
					
			</div>
			<div class="col-md-2">
				<img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-1">
				<div>Playername</div>
				<div>Karten-Wert</div>
				<div>Budget</div>
					
			</div>
			<div class="col-md-2">

				<img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-4" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-5" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-6" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			</div>
			<div class="col-md-1">
				<div>Playername</div>
				<div>Karten-Wert</div>
				<div>Budget</div>
					
			</div>
			<div class="col-md-2">

				<img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-4" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-5" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-6" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			</div>
			<div class="col-md-1">
				<div>Playername</div>
				<div>Karten-Wert</div>
				<div>Budget</div>
					
			</div>
			<div class="col-md-2">

				<img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-4" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-5" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-6" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			</div>
			<div class="col-md-1">
				<div>Playername</div>
				<div>Karten-Wert</div>
				<div>Budget</div>
					
			</div>
			<div class="col-md-2">

				<img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-4" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
			    <img id="lg1-5" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			    <img id="lg1-6" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
			</div>
			
		</div>
		
		
		
		<p>&nbsp;</p>
		
		<ul class="list-inline list-unstyled">
			<li>
				<ul class="list-group">
				    <img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
				    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-4" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-5" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-6" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-7" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-8" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				</ul>
			</li>
			<li>
				<ul class="list-group">
				    <img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
				    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-4" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-5" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-6" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-7" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-8" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				</ul>
			</li>
			<li>
				<ul class="list-group">
				    <img id="lg1-1" class="img-responsive" src="/assets/images/KAROFUENF.png"/>
				    <img id="lg1-2" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-3" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-4" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-5" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-6" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-7" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				    <img id="lg1-8" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
				</ul>
			</li>
		</ul>
		<img id="loadImage" class="img-responsive" src="/assets/images/HERZFUENF.png"/>
		<p>&nbsp;</p>
	</div>
    
		
}
