@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="import" href="@routes.Assets.versioned("polymer-style/polymer-style.html")">
        
         <script src="@routes.Assets.versioned("javascripts/blackjack.js")" type="text/javascript"></script>
        
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        <!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   		<!-- Optional theme -->
   		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    	<!-- Latest compiled and minified JavaScript -->
    	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	
    	<script src="@routes.Assets.versioned("bower_components/webcomponentsjs/webcomponents-lite.js")" type="text/javascript"></script>
    	
        <link rel="import" href="@routes.Assets.versioned("bower_components/polymer/polymer.html")">
        
        
    </head>
    <body id="backGround">
    	<p>&nbsp;</p>
    	
	  	<div class="container">
	  	
	      <!-- Static navbar -->
	      <nav class="navbar navbar-default">
	        <div class="container-fluid">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/start">BLACKJACK</a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	              <li class="active"><a href="/blackjack">Play</a></li>
	              <li><a href="/rules">Spielregeln</a></li>

	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	              <li>
	              <a href="" data-toggle="modal" data-target="#contactModel" >Kontakt</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div><!--/.container-fluid -->
	      </nav>
	    </div> <!-- /container -->

       	@content

    </body>
    <!-- Modal -->
	<div id="contactModel" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Kontakt</h4>
	      </div>
	      <div class="modal-body">
	        <p>Alexander Minsch</p>
	        <p>Email: a.minsch@@web.de</p>
	        <p>&nbsp;</p>
	        <p>Benjamin Herrmann</p>
	        <p>Email: bsbenny.bh@@gmail.com</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
</html>
